<section class="row" id="search">
  <form>
    <input class="twelve columns" type="text" id="stopKeyword" placeholder="Durak adı"
           ng-model="keyword" search-on-key-up search-index="stop">
  </form>
</section>
<section class="row" id="results">
  <div id="noResultMessage" ng-show="hasNoResult()" class="alert-box alert">Sonuç bulunamadı.</div>
  <div id="stopResults" ng-show="searchResults">
    <table class="twelve">
      <thead>
      <tr>
        <th>Durak Adı</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stop in searchResults" route-on-click route-url="/durak/{{stop.id}}">
          <td>{{stop.name}} ({{stop.district || ''}})</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>