<section class="row" id="search">
  <form>
    <input class="six columns" type="text" id="fromStopKeyword" placeholder="Nereden ?"
           ng-class="{selectedInput: fromStop != null}"
           ng-model="fromKeyword" search-on-key-up search-index="stop" ng-change="setMode('from')">
    <input class="six columns" type="text" id="toStopKeyword" placeholder="Nereye ?"
           ng-class="{selectedInput: toStop != null}"
           ng-model="toKeyword" search-on-key-up search-index="stop" ng-change="setMode('to')">
  </form>
</section>
<section class="row" id="results">
  <div ng-show="hasNoResult()" id="noResultMessage" class="alert-box alert">Sonuç bulunamadı.</div>
  <div id="stopResults" ng-show="searchResults && searchResults.length > 0 && !pathSearchResult">
    <table class="twelve">
      <thead>
      <tr>
        <th>Durak Adı</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stop in searchResults" ng-click="selectStop(stop)">
          <td>{{stop.name}} ({{stop.district || ''}})</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="row" id="detail">
  <div id="howToGoDetail">
    <div id="howToGoInfo" ng-show="pathSearchResult != null" class="twelve columns panel"><span>{{pathSearchResult.suggestions.length}}</span> çözüm bulundu</div>
    <div id="howToGoSolutions">
      <table id="solution-0" class="twelve" ng-repeat="perfectRoute in pathSearchResult.perfectRoutes.concat(pathSearchResult.suggestions)">
        <thead>
        <tr>
          <th class="three">Biniş durağı</th>
          <th class="three">İniş durağı</th>
          <th class="one">Hat No</th>
          <th class="five">Hat</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="route in perfectRoute.routes">
          <td>{{route.from.name}}</td>
          <td>{{route.to.name}}</td>
          <td>{{route.bus.id}}</td>
          <td>{{route.bus.name}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>