<section class="row" id="search">
  <form>
    <input class="six columns" type="text" id="fromStopKeyword" placeholder="Nereden ?"
           ng-class="{selectedInput: fromStop != null}" ng-click="fromKeyword = ''"
           ng-model="fromKeyword" search-on-key-up search-index="stop" ng-change="setMode('from')">
    <input class="six columns" type="text" id="toStopKeyword" placeholder="Nereye ?"
           ng-class="{selectedInput: toStop != null}" ng-click="toKeyword = ''"
           ng-model="toKeyword" search-on-key-up search-index="stop" ng-change="setMode('to')">
  </form>
</section>
<section class="row" id="results">
  <div ng-show="hasNoResult()" id="noResultMessage" class="alert-box alert">Sonuç bulunamadı.</div>
  <div id="stopResults" ng-show="showStopResults()">
    <table class="twelve">
      <thead>
      <tr>
        <th>Durak Adı</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stop in searchResults" ng-click="selectStop(stop)">
          <td>{{stop.name}} ({{stop.district || ''}})</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>