<section class="row" id="search">
  <form>
    <input class="twelve columns" type="text" id="busKeyword" placeholder="Hat kodu veya adı"
           ng-model="keyword" search-on-key-up search-index="bus">
  </form>
</section>
<section class="row" id="results">
  <div ng-show="hasNoResult()" class="alert-box alert">Sonuç bulunamadı.</div>
  <div id="busResults" ng-show="searchResults">
    <table class="twelve">
      <thead>
      <tr>
        <th>Otobüs kodu</th>
        <th>Hat adı</th>
      </tr>
      </thead>
      <tbody>
        <tr ng-repeat="bus in searchResults">
          <td>
            <a ng-href="#/otobus/{{bus.id}}">{{bus.id}}</a>
          </td>
          <td>
            <a ng-href="#/otobus/{{bus.id}}">{{bus.name}}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>