body {
margin: 20px 0px;
}

header {
height: 100px;
}

#stopResults, #busResults, #stopDetail, #busDetail, #howToGoDetail, #noResultMessage, #gettingLocationMessage, #locationErrorMessage, #locationFoundMessage {
display: none;
}

.clickable {
cursor: pointer;
}

#map {
height: 300px;
width: 100%;
margin-bottom: 20px;
}

.district {
color: gray;
float: right;
}
