body {
margin: 20px 0px;
}

header {
height: 100px;
}

#search input{
font-size: 2em;
padding: 1em;
}

#stopResults, #stopDetail, #noResultMessage {
display: none;
}

#stopInfo {
margin-top: 20px;
}

.clickable {
cursor: pointer;
}

#map {
height: 300px;
width: 100%;
}