body {
margin: 20px 0px;
}

header {
height: 100px;
}

.tabs-content input{
font-size: 2em;
padding: 1em;
}

.resultListElement {
font-size: 2em;
list-style: none;
padding-bottom: 10px;
padding-top: 10px;
border-bottom: 3px solid #CCC;
list-style-position: inside;
}